@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

/*공통*/
*{padding: 0; margin: 0; font-family: 'Noto Sans KR', 'Nanum Gothic', '맑은 고딕'; box-sizing: border-box}
ul{list-style: none;}
body{overflow-x: hidden}
a, a:active, a:focus, a:hover, a:visited{text-decoration: none; color: #333}

/*주의 사항 시작*/
.information{width: 100%; height: 50px; max-width: 412px; margin: 0 auto;}
.info_t{float: left; width: 65%; padding-top: 8px; font-size: 10pt; font-weight: 400; color: #6a6a6a;}
.back_button{float: right; width: 20%; background-color: #ff0050; color: white; text-align: center; padding-top: 5px; padding-bottom: 5px; border-radius: 20px; margin-top: 8px; font-size: 12pt; font-weight: 600;}
/*주의 사항 끝*/

.big_inner_box{width: 100%; height: 775px; max-width: 412px; max-height: 795px; margin: 0 auto; background-color: #ffffff; overflow: scroll; -ms-overflow-style: none;}
.big_inner_box::-webkit-scrollbar{display: none;}
.inner_box{width: 100%; max-width: 380px; margin: 0 auto;}
.clear{clear: both}

/*상단 GNB 시작*/
.T_GNB{width: 100%; max-width: 380px; height: 40px; margin: 0 auto; background-color: #ffffff; font-size: 20pt; font-weight: 500; margin-top: 0.5%; margin-bottom: 0.5%;}
.home{float: left;}
.alarm{float: right;}
.plus{float: right; width: 10%; padding-top: 0.5%;}
/*상단 GNB 끝*/

/*메인 시작*/
.washing{width: 100%; height: 100px; background-color: white; border: 1px solid; border-radius: 14px; border-color: lightgray; margin-top: 3%;}
.w_i{float: left; width: 30%;}
.w_i img{width:60%; margin-top: 8%; margin-left: 20%;}
.w_t{float: left; margin-top: 6.5%; font-size: 16pt; font-weight: 500;}
.w_t h1{font-size: 12pt; color: #ff0050; font-weight: 400;}
.w_p{float: right; background-color: rgb(255, 0, 80, 0.8); width: 40px; height: 40px; text-align: center;padding-top: 2.5%; border-radius: 50px; margin-top: 8%; margin-right: 4%;}

.cleaner{width: 100%; height: 100px; background-color: white; border: 1px solid; border-radius: 14px; border-color: lightgray; margin-top: 3%;}
.c_i{float: left; width: 30%;}
.c_i img{width:60%; margin-top: 25%; margin-left: 20%;}
.c_t{float: left; margin-top: 6.5%; font-size: 16pt; font-weight: 500;}
.c_t h1{font-size: 12pt; color: #ff0050; font-weight: 400;}
.c_p{float: right; background-color: rgb(255, 0, 80, 0.8); width: 40px; height: 40px; text-align: center;padding-top: 2.5%; border-radius: 50px; margin-top: 8%; margin-right: 4%;}


/*메인 끝*/

/*하단 GNB 시작*/
.b_GNB{width: 100%; max-width: 412px; height: 100px; margin: 0 auto; background-color: #ffffff;}
.GNB1{width: 20%; height: 100px; float: left; text-align: center; margin: 0 auto; font-size: 14pt; font-weight: 500;}
.GNB2{width: 20%; height: 100px; float: left; text-align: center; margin: 0 auto; font-size: 14pt; font-weight: 500;}
.GNB3{width: 20%; height: 100px; float: left; text-align: center; margin: 0 auto; font-size: 14pt; font-weight: 500;}
.GNB4{width: 20%; height: 100px; float: left; text-align: center; margin: 0 auto; font-size: 14pt; font-weight: 500;}
.GNB5{width: 20%; height: 100px; float: left; text-align: center; margin: 0 auto; font-size: 14pt; font-weight: 500;}
.GNB_I{width: 100%; height: 40px; margin-top: 20%;}
.GNB_I2{width: 100%; height: 40px; margin-top: 15%;}
.GNB_T{width: 100%; margin-top: 5%;}
.GNB_T2{width: 100%; margin-top: 10%;}
/*하단 GNB 끝*/

/*헤더 시작*/  


/*헤더 끝*/ 

/*메인 시작*/


/*메인 끝*/ 