@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

/*공통*/
*{padding: 0; margin: 0; font-family: 'Noto Sans KR', 'Nanum Gothic', '맑은 고딕'; box-sizing: border-box}
ul{list-style: none;}
body{overflow-x: hidden}
a, a:active, a:focus, a:hover, a:visited{text-decoration: none; color: #333}

/*주의 사항 시작*/
.information{width: 100%; height: 50px; max-width: 412px; margin: 0 auto;}
.info_t{float: left; width: 65%; padding-top: 8px; font-size: 10pt; font-weight: 400; color: #6a6a6a;}
.back_button{float: right; width: 20%; background-color: #ff0050; color: white; text-align: center; padding-top: 5px; padding-bottom: 5px; border-radius: 20px; margin-top: 8px; font-size: 12pt; font-weight: 600;}
/*주의 사항 끝*/

.big_inner_box{width: 100%; height: 775px; max-width: 412px; max-height: 795px; margin: 0 auto; background-color: #ffffff; overflow: scroll; -ms-overflow-style: none;}
.big_inner_box::-webkit-scrollbar{display: none;}
.inner_box{width: 100%; max-width: 380px; margin: 0 auto;}
.clear{clear: both}

/*상단 GNB 시작*/
.T_GNB{width: 100%; max-width: 380px; height: 40px; margin: 0 auto; background-color: #ffffff; font-size: 20pt; font-weight: 500; margin-top: 0.5%; margin-bottom: 0.5%;}
.home{float: left;}
.setting{float: right;}
/*상단 GNB 끝*/

/*메인 시작*/
.customer{width: 100%; height: 60px; background-color: #f6f6f6; border-radius: 14px; margin-top: 3%;}
.mypage{float: left; width: 50%; height: 40px; text-align: center; border-right: 1px solid; padding-top: 2%; margin-top: 3%; font-size: 12pt; font-weight: 500; color: 5b5b5b;}
.support{float: left; width: 50%; height: 40px; text-align: center; padding-top: 2%; margin-top: 3%; font-size: 12pt; font-weight: 500; color: 5b5b5b;}

.play{margin-top: 3%; width: 100%; height: 120px; background-color: white; border-radius: 14px; border: 1px solid #dddddd;}
.play_i{float: left; margin-top: 5%; margin-left: 5%; width: 26%;}
.play h1{font-size: 14pt; font-weight: 500; margin-top: 6%;}
.play h2{font-size: 10pt; font-weight: 400;}

.m_t{width: 100%; margin-top: 10%; font-size: 14pt; color: #5b5b5b; font-weight: 500; margin-bottom: 3%;}
.box1{width: 100%; height: 170px; background-color: white; border: 1px solid #dddddd; border-radius: 14px;}
.c1_i{float: left; width: 10%; margin-left: 5%; margin-top: 5%;}
.c1_i img{width: 70%;}
.c1_t{float: left; width: 70%; margin-left: 3%; margin-top: 4%; padding-bottom: 4%; border-bottom: 1px solid #dddddd;}

.c2_i{float: left; width: 10%; margin-left: 5%; margin-top: 4%;}
.c2_i img{width: 70%;}
.c2_t{float: left; width: 70%; margin-left: 3%; margin-top: 4%; padding-bottom: 4%; border-bottom: 1px solid #dddddd;}

.c3_i{float: left; width: 10%; margin-left: 5%; margin-top: 4%;}
.c3_i img{width: 70%;}
.c3_t{float: left; width: 70%; margin-left: 3%; margin-top: 4%;}

.box2{width: 100%; height: 115px; background-color: white; border: 1px solid #dddddd; border-radius: 14px;}
.box3{width: 100%; height: 60px; background-color: white; border: 1px solid #dddddd; border-radius: 14px;}
.box4{width: 100%; height: 220px; background-color: white; border: 1px solid #dddddd; border-radius: 14px;}

.c4_i{float: left; width: 10%; margin-left: 5%; margin-top: 4%;}
.c4_i img{width: 50%; margin-left: 10%;}
.c4_t{float: left; width: 70%; margin-left: 3%; margin-top: 4%;}

.c5_i{float: left; width: 10%; margin-left: 5%; margin-top: 4%;}
.c5_i img{width: 70%; margin-top: 15%;}

.box5{width: 100%; height: 60px; background-color: white; border: 1px solid #dddddd; border-radius: 14px; margin-top: 15%; margin-bottom: 15%;}

.footer{width: 100%;}
.f1{width: 30%; float: left; font-size: 10pt; text-align: center; border-right: 1px solid #dddddd;}
.f2{margin-left: 5%; padding-right: 5%;width: 30%; float: left; font-size: 10pt; text-align: center; border-right: 1px solid #dddddd;}
.f3{width: 30%; float: right; font-size: 10pt; text-align: center;}
.f4{float: left; width: 50%; text-align: center; font-size: 10pt; font-weight: 500; border-right: 1px solid #dddddd; margin-top: 3%;}
.f5{float: left; width: 50%; text-align: center; font-size: 10pt; font-weight: 500; margin-top: 3%;}
.f6{float: left; width: 50%; text-align: center; font-size: 10pt; font-weight: 400; margin-top: 3%; border-right: 1px solid #dddddd;}
.f7{float: left; width: 50%; text-align: center; font-size: 10pt; font-weight: 400; margin-top: 3%; margin-bottom: 15%;}
/*메인 끝*/

/*하단 GNB 시작*/
.b_GNB{width: 100%; max-width: 412px; height: 100px; margin: 0 auto; background-color: #ffffff;}
.GNB1{width: 20%; height: 100px; float: left; text-align: center; margin: 0 auto; font-size: 14pt; font-weight: 500; }
.GNB2{width: 20%; height: 100px; float: left; text-align: center; margin: 0 auto; font-size: 14pt; font-weight: 500;}
.GNB3{width: 20%; height: 100px; float: left; text-align: center; margin: 0 auto; font-size: 14pt; font-weight: 500;}
.GNB4{width: 20%; height: 100px; float: left; text-align: center; margin: 0 auto; font-size: 14pt; font-weight: 500;}
.GNB5{width: 20%; height: 100px; float: left; text-align: center; margin: 0 auto; font-size: 14pt; font-weight: 500;}
.GNB_I{width: 100%; height: 40px; margin-top: 20%;}
.GNB_I2{width: 100%; height: 40px; margin-top: 15%;}
.GNB_T{width: 100%; margin-top: 5%;}
.GNB_T2{width: 100%; margin-top: 10%;}
/*하단 GNB 끝*/

/*헤더 시작*/  


/*헤더 끝*/ 

/*메인 시작*/


/*메인 끝*/ 