@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

/*공통*/
*{padding: 0; margin: 0; font-family: 'Noto Sans KR', 'Nanum Gothic', '맑은 고딕'; box-sizing: border-box}
ul{list-style: none;}
body{overflow-x: hidden}
a, a:active, a:focus, a:hover, a:visited{text-decoration: none; color: #333}

/*주의 사항 시작*/
.information{width: 100%; height: 50px; max-width: 450px; margin: 0 auto;}
.info_t{float: left; width: 60%; padding-top: 8px; font-size: 10pt; font-weight: 400; color: #6a6a6a;}
.back_button{float: right; width: 20%; background-color: #00704a; color: white; text-align: center; padding-top: 5px; padding-bottom: 5px; border-radius: 20px; margin-top: 8px; font-size: 12pt; font-weight: 600;}
/*주의 사항 끝*/

.big_inner_box{width: 100%; height: 800px; max-width: 450px; max-height: 800px; margin: 0 auto; background-color: #f2f3f7;}
.inner_box{width: 100%; max-width: 450px; margin: 0 auto;}
.clear{clear: both}
/*공통 끝*/   

/*헤더 시작*/  

.header{width: 100%; height: 135px; }
.logo{width: 17%; float: left; margin-left: 5%; margin-top: 5%; }
.logo img{width: 100%;}
.h_t{width: 75%; float: left; margin-left: 3%; margin-top: 6.3%; color: #00704A; font-size: 16pt;}
.h_t strong{font-size: 18pt;}
/*헤더 끝*/ 

/*메인 시작*/
.main_img{width: 100%; text-align: center; margin-top: 20%;}
.main_img img{width: 30%;}
.m_t{width: 100%; text-align: center; color: #6a6a6a; margin-top: 25%;}
.s_box1{
    width: 90%;
    height: 260px;
    margin-top: 4%;
    margin-left: 5%;
    border-radius: 20px;
    background: #f2F3f7;
    box-shadow:  10px 10px 14px #cecfd2,
                -25px -25px 50px #ffffff;
}
.s_t{
    text-align: center;
    padding-top: 100px;
    font-size: 18pt;
    font-weight: 700;
    color: #00704a;
}
.s_t h2{
    font-size: 12pt;
    font-weight: 500;
    color: #00704a;
}


/*메인 끝*/ 